// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:300,400,500');
@font-face {
  font-family: 'gil';
  src:  url(font-path('Didot-HTF-L24-Light.ttf')) format('truetype'),
        url(font-path('Didot-HTF-M24-Medium.ttf')) format('truetype'),
        url(font-path('Didot-HTF-B24-Bold.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Define fonts for body and headers
$body-font: "Libre Baskerville", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

$modern-font: "Roboto", "Helvetica", "sans-serif";
$retro-font: "EB Garamond", "Helvetica", "sans-serif";
$didot: "Didot", "gil", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
