// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:400,500');
@font-face {
  font-family: 'Didot';
  src: url('fonts/Didot.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Define fonts for body and headers
$body-font: "Libre Baskerville", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

$modern-font: "Roboto", "Helvetica", "sans-serif";
$retro-font: "EB Garamond", "Helvetica", "sans-serif";
$didot: "Didot", "EB Garamond", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
