.previous-page {
  position: absolute;
  top: -25px;
}

.previous-page:hover {
  text-decoration: underline;
}

.artwork-container {
  display: flex;
  position: relative;
  img {
    width: 550px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.artist-name {
  margin-top: 10px;
  letter-spacing: 0.2em;
  font-size: 16px;
  font-family: $modern-font;
  font-weight: 300;
  transition: all 0.3s ease-out;
  margin-bottom: 0px;
}

.black {
  color: black !important;
  font-size: 14px;
}

.artwork-infos {
  padding-left: 60px;
  h2 {
    margin: 0px 0px 10px 0px;
  }

  h3 {
    margin: 0px 0px 40px 0px;
  }

  img {
    width: 16px;
    height: auto;
    box-shadow: none;
  }


  #description {
    margin-bottom: 5px !important;
  }

  .no-margin-bottom {
    margin-bottom: 0px !important;
  }

  // .artwork-info {
  //   font-size: 16px;
  //   font-family: "Cardo";
  //   font-weight: 300;
  // }

  .explanation {
    margin: 50px 0px 0px 0px;
    font-style: italic;
  }
}

.artwork-info {
  font-size: 16px;
  font-family: "Cardo";
  font-weight: 300;
}

.contact-form-input {
  outline: none;
  margin: 10px 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid $medium-gray !important;
  // background-color: rgb(60, 60, 60);
  color: black;
  font-size: 14px;
  font-family: "Roboto";
  padding: 8px;
  border: none;
}


.page-title {
  margin: 60px 0px 30px 0px;
  color: black;
  font-weight: lighter;
  font-size: 30px;
  font-family: "Roboto";;
}


// @media screen and (min-width : 480px) and (max-width: 900px)
@media screen and (max-width: 1050px)
{
  .artwork-container {
    flex-direction: column;
    img {
      width: 100%;
    }
    h2 {
      margin-top: 40px;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .explanation {
      text-align: center;
    }
  }
  .artwork-infos {
    padding-left: 0px;
    img {
      width: 16px;
      height: auto;
      box-shadow: none;
    }
    form {
      width: 80%;
    }
  }
  .button {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 650px)
{
  .artwork-infos {
    form {
      width: 100%;
    }
  }
}
