.empty-artwork {
  width: 100vw;
  padding: 20px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.previous-page {
  position: absolute;
  top: -25px;
}

.previous-page:hover {
  text-decoration: underline;
}

.artwork-container {
  display: flex;
  position: relative;
  .artwork-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    img {
      display: block;
      max-height: calc(100vh - 120px);
      max-width: 650px;
      object-fit: contain;
      // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    }
  }


  h3.artist-name-show {
    margin-bottom: 10px !important;
  }



  h3.artwork-infos-text {
    margin-bottom: 20px;    // color: $medium-gray-darker;
  }

  #artwork-number {
    color: $medium-gray-darker;
  }

  ul {
    display: inline !important;
    list-style-type: none;
    li {
      margin-bottom: 10px;
    }
    li:last-child {
      margin-bottom: 5px;
    }
  }

  .icon {
    padding-right: 10px;
    height: 20px;
    width: auto;
    opacity: 0.7;
  }
}

.artist-name-show {
  margin-top: 10px;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-family: $modern-font;
  font-weight: 200;
  transition: all 0.3s ease-out;
  margin-bottom: 16px;
}

.black {
  color: black !important;
  font-size: 14px;
}

.bold {
  font-weight: 700;
}

.inline {
  display: inline-block;
}


.artwork-infos-text {
  margin: 0px;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: $modern-font;
  font-weight: 200;
}

.artwork-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
  width: 100%;
  h2 {
    margin: 0px 0px 0px 0px;
  }

  p {
    margin: 0px;
    color: black;
  }

  img {
    width: 16px;
    height: auto;
    box-shadow: none;
  }

  #description {
    margin-bottom: 5px !important;
  }

  .no-margin-bottom {
    margin-bottom: 0px !important;
  }

  .explanation {
    padding: 10px 0px 0px 0px;
    font-style: italic;
    color: black;
  }
}


.artwork-info {
  font-size: 16px;
  font-family: $retro-font;
  font-weight: 300;
}

.contact-form-input {
  outline: none;
  margin: 8px 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid $medium-gray !important;
  color: black;
  font-size: 16px;
  font-family: $retro-font;
  padding: 8px;
  border: none;
  letter-spacing: 0.05em;
}

#name-field {
  margin-right: 16px;
  flex-basis: 40%;
}

#email-field {
  flex-basis: 60%;
}


.artwork-artist-container {
  .title-2 {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  a {
    display: flex;
    justify-content: center;
  }

  // h2 {
  //   margin-top: 0px;
  // }
}

// @media screen and (min-width : 480px) and (max-width: 900px)
@media screen and (max-width: 1050px)
{
  .artwork-container {
    flex-direction: column;
    img {
      width: 100%;
    }
    h2 {
      margin-top: 40px;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .explanation {
      text-align: center;
    }
  }
  .artwork-infos {
    padding-left: 0px;
    img {
      width: 16px;
      height: auto;
      box-shadow: none;
    }
    form {
      width: 80%;
    }
  }
  .button {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 650px)
{
  .artwork-infos {
    form {
      width: 100%;
    }
  }
}
