.artist-container {
  display: flex;
}

.artist-infos-container{
  position: sticky;
  top: 90px;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  text-align: center;
  padding-right: 50px;
}

.artist-artworks-container {
  flex-basis: 65%;
  padding-left: 50px;
}

.show-artist-art-type {
  margin-top: 10px;
  margin-bottom: 0px;
}

.artist-photo {
  border-radius: 10px;
  filter: grayscale(100%);
  height: 200px;
  width: 200px;
  z-index: -10;
  margin-top: 50px;
}

.artist-bio {
  margin-top: 50px;
}

.artist-artwork-photo {
  width: 300px;
}

@media screen and (max-width: 1050px) {
  .artist-container {
    display:flex;
    flex-direction: column;
  }

  .artist-infos-container {
    position: static;
    height: auto;
  }

  .artist-artworks-container {
    padding-left: 0px;
    padding-top: 50px;
  }
}
