// Gallery container
.gallery-container {
  display: flex;
}

// Right column
.gallery-column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

// Left column
.gallery-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}






.gallery-photo-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  .gallery-photo {
    width: 100%;
    filter: grayscale(100%);
  }
  margin: auto;
}

.gallery-owner-photo {
  z-index: 1;
  img {
    width: 200px;
    border-radius: 2px;
  }
}

.map-container {
  display: flex;
  justify-content: space-between;
}
.the_gallery{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  color: $red;
}

.description-gallery-container {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
  margin-top: -100px !important;
  margin-right: 40px;
}
.description-gallery {
  font-family: $retro-font;
  text-align: justify;
  font-size: 16px;
  color: $blue;
  line-height: 1.4em;
}


// responsivness
@media screen and (max-width: 1050px)
{
  .gallery-container {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .gallery-owner-photo {
    display: none;
  }
  .gallery-photo {
    margin: 25px;
    img {
      width: 100%;
    }
  }
  .description-gallery-container {
    margin: auto;
    margin-left: 0px;
  }
  .description-gallery {
    padding: 0;
    margin-top: 25px;
  }
  .map-container {
    margin-top: 25px;
  }
  .map-container iframe {
    width: 100%;
    height: 400px;
  }

}
