<!-- Menu #2 -->
<%= render 'shared/artworks_navbar' %>

<!-- Artists count -->
<div class="main-container">
  <div class="count margin-under-artwork-navbar">
    <%= @artworks.count %> oeuvres
  </div>
</div>
<!-- Artist cards container -->
<div class="main-container">
  <div class="full-page-columns-container">
    <% @artworks.each do |artwork| %>
      <%= render 'shared/artwork_card', artwork: artwork %>
    <% end %>
  </div>
</div>

 <%= paginate @artworks %>
