<!-- Menu #2 -->
<%= render 'shared/artworks_navbar' %>

<!-- Artist cards container -->
<% if @artworks.count > 0  %>
<div class="main-container margin-plus">
  <!-- Artworks count -->
<!--     <div class="page-infos">
      <%= @artworks.count %> oeuvres
    </div> -->
  <div class="full-page-columns-container">
    <% @artworks.each do |artwork| %>
      <%= render 'shared/artwork_card', artwork: artwork %>
    <% end %>
  </div>
</div>
<% else %>
  <div class="empty-artwork">
    <h1 class="title-1">Plus d'oeuvres dans cette catégorie pour l'instant</h1>
  </div>
<% end %>

 <%= paginate @artworks, :commit => params[:commit]%>



