@media screen and (max-width: 480px)
{
  .main-container {
    padding: 0px 50px !important;
  }
}

@media screen and (max-width: 1050px)
{
  .margin-under-artwork-navbar {
    margin-top: 125px !important;
  }
  .margin-under-navbar {
    margin-top: 40px !important;
  }
}

.margin-under-navbar {
  margin-top: 15px;
}

.margin-under-artwork-navbar {
  margin-top: 100px;
}

.flex-inline {
  display: flex;
  align-items: center;
}

.invisible {
  display: none !important;
}

.visible {
  display: block !important;
}

.transparent {
  opacity: 0;
}

a:hover {
  text-decoration: none;
}
