.main-container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1100px;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-right: 30px;
  padding-left:  30px;
}

.main-container.margin-plus {
  padding-top: 80px;
}

h1 {
  margin-top: 0px;
}

.new_user {
  width: 400px;
}

body {
  margin-top: 60px;
}


.no-margin {
  margin: 0px;
}

.flex-inline {
  display: flex;
  align-items: center;
}

.invisible {
  display: none !important;
}

.visible {
  display: block !important;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1050px) {
  .mobile-only {
    display: block;
  }
}

.transparent {
  opacity: 0;
}

a:hover {
  text-decoration: none;
}

