.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px 100px;
}

.flex-inline {
  display: flex;
  align-items: center;
}

.invisible {
  display: none !important;
}

.visible {
  display: block !important;
}
