<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="artist-card">
    <div class="artist-img">
      <%= image_tag "artwork_2.png" %>
    </div>
    <div class="artist-infos">
      <p class="artist-category">
        Sculpture
      </p>
      <h2 class="artist-name">
        Christine Miller
      </h2>
      <p class="artist-artworks">
        12 oeuvres
      </p>
    </div>
  </div>
</div>
