<!-- <div class="col-xs-12 col-sm-6 col-md-4"> -->
  <div class="artist-card">
    <div class="artist-img">
      <%= image_tag "artwork_1.png" %>
    </div>
    <div class="artist-infos">
      <p class="artist-category">
        Peinture, Photographie
      </p>
      <h2 class="artist-name">
        Paul Le Poulpe
      </h2>
      <p class="artist-artworks">
        12 oeuvres
      </p>
    </div>
  </div>
<!-- </div> -->
