<div class="button-elements">
  <div class="button-element-display">
    <div class="button-element-content">
      <h1 class="button-text">A MODIFIER</h1>
    </div>
    <div class="button-hide-block">
    </div>
  </div>
  <svg class="button-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="black" points="0,0 0,100 100,100"/>
  </svg>
</div>
