<div class="expos-navbar">
  <%= link_to "En cours", currents_path, :class => "navbar-button"%>
  <%= link_to "A venir", futures_path, :class => "navbar-button"%>
  <%= link_to "Passées", pasts_path, :class => "navbar-button" %>
</div>
