<div class="expos-navbar">
  <%= link_to "En cours", currents_path, :class => current_class2?(currents_path) %>
  <%= link_to "A venir", futures_path, :class => current_class2?(futures_path)%>
  <%= link_to "Passées", pasts_path, :class => current_class2?(pasts_path) %>
</div>
