<div class="container">
  <div id="myCarousel" class="carousel slide">
    <!-- INDICATORS -->
    <ol class="carousel-indicators">
      <li class = "active" data-slide-to="0" data-target="#myCarousel"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
      <!-- PHOTO 1 -->
      <div class="item active" class="slide">
        <%= image_tag @photo_slide1 %>
        <div class="carousel-caption">
          <h4>Image 1</h4>
        </div>
      </div>
      <!-- PHOTO 2 -->
      <div class="item" class="slide">
        <%= image_tag @photo_slide2 %>
        <div class="carousel-caption">
          <h4>Image 2</h4>
        </div>
      </div>
      <!-- PHOTO 3 -->
      <div class="item" class="slide">
        <%= image_tag @photo_slide3 %>
        <div class="carousel-caption">
          <h4>Image 3</h4>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <!-- left side -->
    <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
    <!-- right side -->
    <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
  </div>
</div>
