<div class="main-container">
  <h1 class="title-1">Politique de confidentialité des données</h1>

  <br>

  <p>Le renseignement des informations nominatives collectées dans le cadre de la vente à distance est obligatoire. Ces informations sont nécessaires pour le traitement et la livraison des commandes ainsi que pour l’établissement des factures. Le défaut de renseignement entraîne le rejet automatique de la commande.</p>

  <p>Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur le Site a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés. Le Client dispose d’un droit d’accès, de modification, de rectification et de suppression des informations personnelles collectées par Maison Sur Pilotis le concernant. Pour exercer ce droit, le Client peut à son choix envoyer un courrier électronique au Service Client de Maison Sur Pilotis.</p>

  <p>Après accord exprès du Client lors de la collecte de ses données personnelles, Maison Sur Pilotis se réserve le droit de transmettre ses données à des partenaires commerciaux.</p>

  <p>Le Client pourra être amené à recevoir de Maison Sur Pilotis et/ou, le cas échéant de la part de ses partenaires, des courriers électroniques d’information sur les produits et activités de Maison Sur Pilotis. Le Client conserve le droit de refuser a posteriori une telle communication, soit en ne donnant pas son consentement au moment de la validation de la commande, soit en manifestant son refus par courrier électronique.</p>
</div>

