<div class="gallery-container">
    <!-- Photo Gallery -->
    <div class="gallery-photo">
      <%= cl_image_tag @gallery.photo_gallery, crop: :fill %>
    </div>
    <!-- Photo Owner Gallery -->
    <div class="gallery-owner-photo">
      <%= cl_image_tag @gallery.photo_owner, crop: :fill %>
    </div>
    <!-- Description Gallery -->
    <div class="description-gallery-container">
      <div class="description-gallery">
        <p> <%= @gallery.description %> </p>
      </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
      <iframe
        width="400"
        height="400"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDy7Ksnv9eMUGY_R_tHMd-kYPuqv2WeQmE
          &q=27+rue+guersant,Paris+France" allowfullscreen>
      </iframe>
    </div>
</div>

