/* MENU 2 Artworks container */
.artworks-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(238,95,91, 0.1);
  height: 40px;
  width: 100%;
  // border-bottom: 1px solid $red;
  padding: 0px 300px;
  margin-top: 60px;
}

/* ONGLETS MENU 2 */
.navbar-button {
  border: none;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.1em;
  color: black;
  font-size: 12px;
  background: none;
  transition: all 0.2s ease-out;
  padding-bottom: 5px;
}

/* Get rid of the blue border when clicking */
.navbar-button:focus {outline:0;}

/* Hover ONGLET r*/
.navbar-button:hover {
  color: $red;
}
