.columns-container {
  margin: 0px 100px;
  column-count: 1;
  column-gap: 0;
}

@media (min-width: 768px) {
  .columns-container {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .columns-container {
    column-count: 3;
  }
}

.column {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  padding: 5px;
  // border-right: 1px solid $medium-gray;
  align-items: center;
}

.column:last-child {
  border-right: none;
}

.artist-card {
  width: 220px;
  img {
    width: 220px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }

  h2 {
    margin: 8px 0px 20px 0px;
  }

  p {
    margin: 15px 0px 0px 0px;
  }
}

.artist-infos {
  a {
    text-decoration: none;
  }
}

.artist-category {
  color: $medium-gray-darker;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  font-family: "Spectral";
}

.artist-name {
  color: black;
  font-weight: bold;
  letter-spacing: 0.0em;
  font-size: 24px;
  font-family: "Cardo";
  transition: all 0.2s ease-out;
}

.artist-name:hover {
  color: $red;
}

.artists-bio {
  margin-bottom: 60px !important;
  border-bottom: 1px solid $medium-gray;
}
