.button {
  width: 100%;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 20px;
  border: 1px solid $red;
  text-align: center;
  margin-top: 20px;
}

.button:hover {
  opacity: 0.9;
}

.primary {
  color: white;
  background-color: $red;
}

.secondary {
  color: $red;
  background-color: white;
}
