.button {
  letter-spacing: 0.2em;
  font-size: 12px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 20px;
  text-align: center;
  border: none;
}



.primary {
  color: white;
  background-color: black;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  width: 280px;
  justify: center;
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: all 0.2s ease-out;
  &:hover {
    color: $red;
    background-color: white;
    border: 1px solid $red;
  }
}
