// style general to all cards
.artworks-card {
  width: 220px;
  position: relative;
  margin-top: 10px;
  img {
    width: 220px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    transition: all 0.3s ease-out;
  }
}

// style specific to Artist show, Artwork index and show cards

// hide titles if the device has a mouse
@media (pointer:fine) {
  .artworks-sold {
    color: $transparent;
  }
  .dimensions-content {
    color: $transparent;
  }
  .dimensions-titles {
    color: $transparent;
  }
  .artworks-name {
    color: $transparent;
  }
  .artworks-artist {
    color: $transparent;
  }
  .artworks-category {
    color: $transparent;
  }
  .artist-artworks-sold {
    color: $transparent;
  }
}

// Display titles on hover
.artworks-card:hover {
  img {
    transform: scale(1.02);
  }
  .artworks-sold {
    color: $red;
  }
  .dimensions-content {
  color: $medium-gray-darker;
  }
  .dimensions-titles {
    color: $medium-gray-darker;
  }
  .artworks-name {
    color: black;
  }
  .artworks-artist {
    color: black;
  }
  .artworks-category {
    color: $red;
  }
  .artist-artworks-sold {
    color: black;
  }
  // for artist index
  .artist-infos {
  transform: scale(1.00);
}
}

// display titles if there is no mouse
@media (pointer:none) {
  .artworks-sold {
    color: $red;
  }
  .dimensions-content {
  color: $medium-gray-darker;
  }
  .dimensions-titles {
    color: $medium-gray-darker;
  }
  .artworks-name {
    color: black;
  }
  .artworks-artist {
    color: black;
  }
  .artworks-category {
    color: $red;
  }
  .artist-artworks-sold {
    color: black;
  }
}

.artworks-infos {
  margin-top: 20px;
  padding-bottom: 40px;
  text-align: left;
  a {
    text-decoration: none;
  }
}

.artworks-name {
  margin-top: 10px;
  letter-spacing: 0.15em;
  font-size: 14px;
  font-family: $modern-font;
  font-weight: 300;
  transition: all 0.3s ease-out;
  margin-bottom: 0px;
}

.artworks-sold, .artist-artworks-sold {
  margin-top: 10px;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-family: $modern-font;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-weight: 400;
}

.artworks-dimensions {
  margin-top: 10px;
  display: flex;
}

.dimensions-content {
  font-family: $modern-font;
  font-weight: lighter;
  font-size: 10px;
  transition: all 0.3s ease-out;
  margin-bottom: 0px;
}

.dimensions-titles {
  font-family: $modern-font;
  font-size: 10px;
  transition: all 0.3s ease-out;
  margin-bottom: 0px;
}

// style specific to Artworks Index and show
.artworks-artist {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bolder;
  letter-spacing: 0.0em;
  font-size: 16px;
  transition: all 0.3s ease-out;
  font-family: $didot;
}

// style specific to Artist Show

.artworks-category {
  margin-top: 10px;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-style: italic;
  font-family: $retro-font;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
  font-weight: 400;
}

.big-artworks-card {
  img {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .big-artworks-card {
  img {
    width: 220px;
  }
}
}

// style specific to Artist Index

#artist-card {
  img {
    width: 250px;
  }
  margin-bottom: 10vh;
}

.artist-infos {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.3s ease-out;
}

.artist-name {
  font-family: $didot !important;
  font-weight: bolder;
  font-size: 16px;
  margin: 0px !important;
}

.artist-category {
  background-color: white;
  margin: 0px;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-style: italic;
  font-family: $retro-font;
  color: $red;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
  font-weight: 400;
}

$artist-angle-width: 5px;
$artist-height: 35px;

.artist-elements {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: $artist-height;
}

.artist-element-display {
  display: flex;
  align-items: center;
}

.artist-element-content {
  background-color: $white;
  // opacity: 0.9;
  height: $artist-height;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

h1.artist-text {
  margin-bottom: 0 !important;
}

.artist-hide-block {
  width: $artist-angle-width;
}

.artist-svg {
  position: absolute;
  // opacity: 0.9;
  right: 0;
  top: 0;
  width: $artist-angle-width;
  height: 100%;
}

$speciality-angle-width: 5px;
$speciality-height: 35px;

.speciality-elements {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: $speciality-height;
}

.speciality-element-display {
  display: flex;
  align-items: center;
}

.speciality-element-content {
  background-color: $white;
  // opacity: 0.9;
  height: $speciality-height;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

h1.speciality-text {
  margin-bottom: 0 !important;
}

.speciality-hide-block {
  width: $speciality-angle-width;
}

.speciality-svg {
  position: absolute;
  // opacity: 0.9;
  right: 0;
  top: 0;
  width: $speciality-angle-width;
  height: 100%;
}
