/* MENU 2 Artworks container */

.expos-navbar {
  z-index: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 100%;
  position: fixed;
  top: $navbar-height;
  overflow: auto;
  white-space: nowrap;
  padding: 0px 30vw;
  background-color: rgba(255,255,255, 0.8);
  overflow-scrolling: touch;
  overflow-style: -ms-autohiding-scrollbar;
}

@media screen and (max-width: 850px)
{
  .expos-navbar {
    padding: 0px 20vw;
  }
}

.expos-navbar > a {
  border: none;
  font-family: $modern-font;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: black;
  font-size: 13px;
  background: none;
  transition: all 0.2s ease-out;
  padding-bottom: 5px;
}

.active2 {
  color: $red !important;
}
