footer {
  color: white;
  width: 100%;
  padding-top: 30px;

  form {
    display: flex;
  }
}

.gray-wrapper {
  margin-top: 80px;
  width: 100%;
  background-color: rgb(40, 40, 40);
}

.footer-part-1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 40px 40px;
  border-bottom: 1px solid rgb(60, 60, 60);
  margin-bottom: 30px;
}

// .footer-part-1:first-child {
//   padding-left: 60px;
// }

// .footer-part-1:last-child {
//   padding-right: 60px;
// }

.footer-follow-us {
  display: flex;
  flex-direction: column;
}

// .footer-icon

.footer-part-2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}

.footer-part-3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 0px 0px;
  border-top: 1px solid rgb(60, 60, 60);
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-menu-item {
  color: $medium-gray-darker;
  padding: 5px 0px;
  font-size: 12px;
  // text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: all 0.2s ease-out;
}

a.footer-menu-item {
  text-decoration: none;
}

a.footer-menu-item:hover {
  color: $red;
}

.footer-adress {
  text-transform: none;
  padding: 4px 0px;
  letter-spacing: 0.06em;
  svg {
    color: white;
    margin-right: 8px;
  }
}

.bold {
  text-transform: uppercase;
  padding: 20px 0px;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.cgv {
  color: rgb(100, 100, 100);
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: none;
  font-weight: 400;
  padding: 20px;
}

.footer-icon {
  font-size: 28px;
  svg {
    margin-right: 10px;
    transition: all 0.2s ease-out;
  }
  svg:last-child {
    margin-right: 0px;
  }
  svg:hover {
    color: $red;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.footer-form-input {
  outline: none;
  width: 200px;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  padding: 8px;
  border: none;
}

.form-button {
  letter-spacing: 0.2em;
  font-size: 12px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  padding: 9px 20px;
  border: none;
  text-align: center;
  color: white;
  background-color: $red;
}

.form-button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1050px)
{
  footer {
    padding-top: 0px;
  }
  .footer-part-1 {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-bottom: none;
    margin-bottom: 0px;
  }
  .footer-part-2 {
    display: none;
  }
  .footer-menu-item.bold {
    padding-top: 40px;
    text-align: center;
  }
  .footer-icon {
    text-align: center;
  }
  .cgv {
    letter-spacing: 0.1em;
    padding: 20px 10px;
  }

}




