
/* Carousel */
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px; // begin at the end of the navbar
  padding: 0;
}

// Picture
.carousel-slide {
  position: relative;
  display: block;
  width: 100vw;
  height: 90vh!important;
  object-fit: cover;
}

// Indicators
.carousel-indicators {
  bottom: 5%!important;
  left: 90%!important;
}

// Content
.carousel-content {
  background-color: transparent;
  position: absolute;
  bottom: 15%;
  left: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.carousel-content-title {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: 70px;
}

.call-to-action.title-div-2 {
  background-color: black;
}

.call-to-action.title-div-2 a {
  color: white
}

.title-div {
  display: flex;
}

.title-div-2 {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.hide-block {
  width: 20px;
}

.svg-item {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
}

.content-catch-phrase {
  height: 35%;
  width: 100%;
  border-top: solid;
  border-color: black;
  background-color: white;
}

.call-to-action-div-rel {
  position: relative;
  width: 100%;
}
.call-to-action-div-abs {
  position: absolute;
  right: -20px;
}

.content-call-to-action {
  height: 25%;
  width: 100%;
  background-color: black;
}


// Card
.carousel-card {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 80%;
  background-color: #0F1527;
  opacity: 0.95;
}

// card title
.card-title {
  flex: 0 0 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center
}

.card-title p {
  font-size: 20px;
  margin: 10px 20px;
}

.card-title h4 {
  font-size: 29px;
  margin: 0 15px;
}

// .call-to-action {
//   height: 40%;
// }

.carousel-button {
  width: auto!important;
  background-color: $red!important;
}
// Image Carousel
.slide {
  background-size: cover !important;
}


// @media (max-width: 900px) {

//   .item.active {

//   }
//   .carousel-slide {
//     position: relative;
//     display: block;
//     width: 100vw;
//     height: 675px!important;
//     object-fit: cover;
//   }

//   .carousel-indicators {
//     bottom: 0%!important;
//     left: 50%!important;
//   }

//   .carousel-card {
//     position: absolute;
//     top: 72%;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     height: 28%;
//     background-color: #0F1527;
//     opacity: 0.95;
//   }

//   .card-title h4 {
//     font-size: 23px;
//     margin: 0 15px;
//   }

//   .card-title p {
//     display: none;
//   }

//   .call-to-action {
//     height: 50%;
//   }

//   .carousel-button {
//     width: auto!important;
//     background-color: $red!important;
//     font-size: 9px;
//   }
// }
