// Global variables exclusively used in the homepage

// TITLE
$angle-width-title: 8px;
$height-element: 56px;
// CATCH PHRASE
$angle-width: 7px;
$height-element-small: 49px;
// CALL TO ACTION
$angle-width-action: 6px;
$height-element-action: 42px;


// Get rid of the background effect imposed by bootstrap
.carousel-control.right {
  background-image: none!important;
}

.carousel-control.left {
  background-image: none!important;
}

// To avoid having border red on the slides (active element) conflicts with navbar menu items
.slide-no-border {
  border: none!important;
}

/* Carousel */
.carousel-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px; // begin at the end of the navbar
  padding: 0;
}

// Picture
.carousel-slide {
  position: relative;
  display: block;
  width: 100vw;
  height: 90vh!important;
  object-fit: cover;
  padding: 10px;
  padding-top: 0px;
}

// Indicators
// .carousel-indicators {
//   bottom: 5%!important;
//   left: 90%!important;
// }

// Content
.carousel-elements {
  background-color: transparent;
  position: absolute;
  bottom: 15%;
  left: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

// CATCH PHRASE & CALL TO ACTION CONTAINER
.carousel-elements-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: auto;
}

// CONTAINER OF THE MULTIPLE DIV COMPOSING THE ORGINAL SHAPE
.carousel-element-display {
  display: flex;
}

/////////////////////////////////////// TITLE //////////////////////////////////
.carousel-element-title {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: $height-element;
}

.carousel-element-content-title {
  background-color: white;
  height: $height-element;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.carousel-title-1 {
  margin: 0;
  font-size: 25px;
}

.hide-block-title {
  width: $angle-width-title;
}

.carousel-svg-title {
  position: absolute;
  right: 0;
  top: 0;
  width: $angle-width-title;
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////


/////////////////////////////// CATH PHRASE ////////////////////////////////////

.carousel-element {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: $height-element-small;
}

.carousel-element-content {
  background-color: white;
  height: $height-element-small;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.hide-block {
  width: $angle-width;
}

.carousel-svg {
  position: absolute;
  right: 0;
  top: 0;
  width: $angle-width;
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////


//////////////////////////////CALL TO ACTION ///////////////////////////////////

.call-to-action-div-rel {
  position: relative;
  width: 100%;
}

.call-to-action-div-abs {
  position: absolute;
  right: - $angle-width-action;
}

.carousel-element-action {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: $height-element-action;
}

.carousel-element-content-action {
  background-color: white;
  height: $height-element-action;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.hide-block-action {
  width: $angle-width-action;
}

.carousel-svg-action {
  position: absolute;
  right: 0;
  top: 0;
  width: $angle-width-action;
  height: 100%;
}

.carousel-element-content-action.call-to-action {
  background-color: black;
}

.carousel-element-content-action.call-to-action a {
  color: white
}

.call-to-action-button {
  font-family: $modern-font;
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 13px;
}

////////////////////////////////////////////////////////////////////////////////

@media (max-width: 750px) {

  .carousel-title-1 {
    font-size: 30px !important;
  }

  .carousel-title-2 {
    font-size: 15px !important;
  }

  .carousel-element {
    height: $height-element-small;
  }

  .carousel-element-content {
    height: $height-element-small;
  }

}
