// NAVBAR
//////////////////////////////////////////////////////////////////////

// Navbar container
.main-navbar {
  z-index: 1000;
  position: fixed;
  top: 0px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white;
  border-bottom: 1px solid $light-gray;
  height: $navbar-height;
  transition: all 0.3s ease;
}

// Isabelle Laverny brand on the left
.navbar-brand {
  padding-top: 7px !important;
  p {
    font-family: $didot;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.06em;

  }
}
.navbar-brand:hover {
  a {
    text-decoration: none;
    opacity: 0.8;
  }
}

#signature {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.44em;
  font-weight: lighter;
}

.navbar-right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-right: 10vw;
}

 // Navbar menu items
.navbar-menu > a {
  cursor: pointer;
  padding: 20px 0px;
  font-family: $modern-font;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: black;
  font-size: 12px;
  transition: all 0.2s ease-out;
}

.navbar-menu > a:hover {
  color: $red;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid  $red;
}

.navbar-social-networks, .burger-menu {
  img {
    height: 25px;
  }

  #close-button {
    height: 15px;
    padding: 0px 11px;
  }
}

.navbar-social-networks {
  .fa-instagram {
    font-size: 34px;
    transition: all 0.2s ease-out;
    &:hover {
      color: $red;
    }
  }
}


// BURGER MENU
//////////////////////////////////////////////////////////////////////

.burger-menu {
  display: none;
  position: relative;
  padding-left: 60px;
}

.mobile-menu-container {
  display: none;
}

#burger-btn {
  // First line
  border-top:2px solid black;
  height:22px;
  width:30px;
  box-sizing:border-box;
  position:absolute;
  z-index:30;
  left:20px;
  top:-10px;
  cursor:pointer;
  transition:all 0.3s ease-in;
}

// 2nd line
#burger-btn:before {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background:black;
  top:8px;
  transition:all 0.3s ease-in;
}

// 3rd line
#burger-btn:after {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background:black;
  bottom:0;
  transition:all 0.3s ease-out;
}

// Burger button animation
// First line removing
#burger-btn.mobile-navigation {
  border-color:transparent !important;
}

// Line rotation
#burger-btn.mobile-navigation:before {
  transform: rotate(45deg) !important;
  width:28px !important;
}

#burger-btn.mobile-navigation:after {
  transform: rotate(135deg) !important;
  bottom:10px !important;
  width:28px !important;
}

// Menu translation
.mobile-menu-container.translation {
  transform: translateY(304px);
}


// On talet and mobile
// @media screen and (min-width : 480px) and (max-width: 900px)
@media screen and (max-width: 1050px)
{
  .navbar-menu {
    display: none;
  }

  .burger-menu {
    display: block !important;
  }

  .navbar-menu-item {
    padding: 20px !important;
    border-bottom: 1px solid $medium-gray;
  }

  .navbar-menu-link {
    font-size: 14px !important;
    text-align: center;
  }

  .navbar-menu-item:last-child {
    margin-right: 0px !important;
  }

  .mobile-menu-container {
    z-index: 950;
    width: 100%;
    position: fixed;
    top:-244px;
    display: flex;
    flex-direction: column;
    transition:all 0.4s ease-out;
    a {
      background-color: white;
      opacity: 1;
    }

    .mobile-menu-darker {
      opacity: 0;
      background-color: black;
      height: 0px;
      transition:opacity 0.4s ease-out;
    }

    .mobile-menu-darker.add-opacity {
      height: 200vh;
      opacity: 0.7;
    }
  }
}

// responsiveness of gallerie Isabelle Laverny title

@media screen and (max-width: 450px) {
  .navbar-brand {
    padding-top: 9px !important;
    padding-left: 0px;
    padding-right: 20px;
    p {
      font-size: 18px;
    }
  }

  #signature {
    font-size: 9px;
  }

  .main-navbar {
    padding: 0px 20px;
  }

  #burger-btn {
    left: 0px;
  }


}

