.pagination {
  font-family: $modern-font;
  display:flex;
  justify-content: center;
  background: $white;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    width: 1.4em;
    border-radius: 4px;
    color: $red;
  }
  .pagination a {
    text-decoration: none;
    font-weight: lighter;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

.last, .first {
  display: none;
}

.prev, .next {
  font-weight: lighter;
}
