// Section title
.section-title {
  width: 100%;
  background-color: $light-red;
  text-align: center;
  margin-top: $navbar-height;
  margin-bottom: 40px;

  h1 {
    margin: 0px;
    padding: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    letter-spacing: 0.1em;
  }
}

.count {
  font-size: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.1em;
}


.title-mobile {
  margin-top: 0px !important;
}
