.title-1 {
  font-family: Didot;
  font-style: normal;
  font-weight: bold;
  line-height: 136px;
  font-size: 48px;
  text-align: center;
}

.title-2 {

}

.artwork-category {

}

.text-content {

}

.count {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.1em;
}
