// Section title
.title-1 {
  font-family: $didot;
  font-weight: bold;
  font-size: 35px;
}

.title-1-small-size {
  font-size: 36px;
}

// Section subtitle
.title-2 {
  font-family: $retro-font;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.06em;
}

.title-2-small {
  font-size: 18px;
  margin-bottom: 0px;
}

.title-3 {
  font-family: $modern-font;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.06em;
}

.title-3-small {
  font-family: $modern-font !important;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
}

.title-3-medium {
  font-family: $modern-font !important;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.artworks-category-title {
  font-family: $retro-font;
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 24px;
  color: $red;
  letter-spacing: 0.04em;
}

p, .text-content {
  font-family: $retro-font;
  line-height: 150%;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 500px)
{
  p, .text-content {
    font-family: $retro-font;
    line-height: 150%;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0.04em;
  }

  .title-3-small {
    font-size: 12px;
  }
}

.text-content {
  text-align: left;
  letter-spacing: 0em;
}

.page-infos {
  font-size: 14px;
  width: 100%;
  // text-transform: uppercase;
  font-family: $retro-font;
  color: $medium-gray-darker;
  padding-left: 50px;
  // text-align: center;
  // font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
